<nav class="navbar navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">Онлайн библиотека</a>
  {% if request.path == "/library/books/" %}
    <a class="nav-link name_page" href="{% url 'library:books' %}">Список книг</a>
  {% endif %}
  {% load custom_filters %}
  {% if request.path|is_book_detail %}
    <a class="nav-link name_page" href="#" onclick="location.reload()">Книга</a>
  {% endif %}
  {% if "books" and "edit" in request.path %}
    <a class="nav-link name_page" href="#" onclick="location.reload()">Редактирование книги</a>
  {% endif %}
  {% if request.path == "/library/books/new/" %}
    <a class="nav-link name_page" href="{% url 'library:new_book' %}">Новая книга</a>
  {% endif %}
  {% if "books" and "delete" in request.path %}
    <a class="nav-link name_page" href="#" onclick="location.reload()">Удаление книги</a>
  {% endif %}
  <button class="navbar-toggler" 
          type="button" 
          data-toggle="collapse" 
          data-target="#navbarsExample01" 
          aria-controls="navbarsExample01" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'library:books' %}">Список книг</a>
      </li>
      {% if user.is_superuser or user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'library:new_book' %}">Новая книга</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>